@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dfdff0;
  width: 100dvw;
  overflow-x: hidden;
  font-family: "Gill Sans", sans-serif;
}
@layer base {
  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }
  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }
}

@layer utilities {
  .hero-container {
    @apply relative w-screen h-dvh overflow-x-hidden;
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }
  .special-font b {
    font-family: "Zentry";
    font-feature-settings: "ss01" on;
  }
  .heading {
    @apply font-zentry uppercase text-5xl font-black;
  }
}
